##
## ƒанный файл может располагатьс€ в директории любого виртуального хоста.
## Ћюбую из директив можно не указывать, тогда беретс€ значение по умолчанию.
## Ќе пропустите ведущий символ "#" перед директивами!!!
##
## ≈сли вы хотите настроить Apache так, чтобы хост был виден из локальной
## сети, см. статью http://dklab.ru/chicken/web/other/shared.html
## 

# dnwr_port     423
# dnwr_port_ssl 4239

##
## ¬се dnwr-директивы "разворачиваютс€" в шаблоне виртуального хоста (httpd.conf).
## Ѕиблиотеки ƒенвера напр€мую (мину€ подстановку в шаблоне) их не используют.
## ¬ы можете добавить сюда и другие директивы, ссыла€сь на них в шаблоне хоста.
##
